
.shipcover{
    min-height: 100vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 50% 70%, 0% 40%);
    position: relative;
    display: flex;
    
}
.shipimg{

    
    width: 100%;
    height: 96vh; 
    position: fixed;
    top: 0;
    left: 0;
    
   
}
.contentShip{
    z-index: 1;
    
    color:whitesmoke;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    margin-left: 41%;
    
    
}
